.background-color {
    background-color: rgb(16, 12, 73);
}

.nav-quote {
    background-color: rgb(12, 12, 12);
    margin-top: -10px;
    margin-left: -10px;
    width: 101.2%;
    height: 50px;

}

.nav-logo {
    background-image:
        url(wwwroot/images/wl\ logo.png);
    background-position: left;
    background-size: cover;
    width: 160px;
    height: 160px;
    margin-top: -150px;
    margin-left: -50px;
}

.nav-text {
    color: white;
    margin-left: 600px;
    margin-top: -60px
}

.nav-text2 {
    color: white;
    margin-top: -20px;
    margin-left: 700px;
}

.nav-2-background {
    background-color: rgb(9, 27, 41);
    margin-top: -19px;
    margin-left: -10px;
    width: 101.2%;
    height: 48px;
}

.nav h2 {
    color: rgb(240, 235, 235);
    margin-top: -45px;
    margin-left: -5px;

}

.sign-in-bt {
    background-color: rgb(8, 8, 8);
    font-size: 15px;
    color: white;
    float: right;
    margin-top: -85px;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.sign-in-bt:hover {
    color: black;
    background-color: rgb(246, 245, 248);
}

.sign-up-bt {
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 15px;
    margin-top: -85px;
    margin-right: 59px;
    float: right;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.sign-up-bt:hover {
    color: black;
    background-color: rgb(246, 245, 248);
}

.post-an-ad-bt {
    background-color: rgb(197, 16, 16);
    color: white;
    font-size: 15px;
    margin-top: -55px;
    margin-right: 10px;
    padding: 10px;
    float: right;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.post-an-ad-bt:hover {
    background-color: white;
    color: black;
}

.navbar-dropdown-text {
    margin-left: 570px;
    margin-top: -39px;
    float: left;

}

.dropdown .dropbtn {
    font-size: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: rgb(245, 239, 239);

    background-color: rgb(9, 27, 41);
    font-family: inherit;
     margin: 0px;
}

.dropbtn {
    background-color: rgb(230, 221, 221);
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(16, 12, 73);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(16, 12, 73);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(238, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dfd3d3;
    color: rgb(14, 13, 13);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-home {
    font-size: 18px;
    color: white;
    float: left;
    margin-left: 487px;
    margin-top: -61px;
    cursor: pointer;
    text-decoration: none;
}

.nav-sell-purchase {
    color: white;
    float: left;
    margin-left: 175px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}

.nav-about {
    color: white;
    float: left;
    margin-left: 45px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}

.nav-contact {
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}
.center-text1{
    color: white;
    font-size: px;
    margin-left: -450px;
    margin-top: 150px;
    float: left;
}
.center-text2{
    color: white;
    font-size: px;
    margin-left: -588px;
    margin-top: 200px;
    float: left;
}
.box {
    width: 300px;
    height: 250px;
    background-color: rgb(56, 54, 99);
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
    box-shadow: 1px 1px 2px 4px #1a1a01;
    border-radius: 2%;
    padding: 0%;
    margin-left: 70px;
    margin-top: 230px;
}


.avatar {
    width: 150px;
    height: 150px;
    background-color: gray;
    background-image:
        url(wwwroot/images/IMG_0152.JPG);
    background-position: center;
    background-size: cover;
    margin-top: -80px;
    position: absolute;
    margin-left: 75px;
    border-radius: 20%;
    box-shadow: 1px 1px 2px 4px ;
}
.h1 {
    padding-top: 75px;
}

.button {
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    background-color: rgb(197, 16, 16);
    color: rgb(32, 31, 31);
    cursor: pointer;
    border-radius: 4px;
}
.button:hover{
    background-color: white;
    color: black;
}
.box-2 {
    width: 300px;
    height: 250px;
    background-color: rgb(56, 54, 99);
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
    box-shadow: 1px 1px 2px 4px #1a1a01;
    border-radius: 2%;
    padding: 0%;
    margin-left: 620px;
    margin-top: -249px;
}


.avatar-2 {
    width: 150px;
    height: 150px;
    background-color: gray;
    background-image:
        url(wwwroot/images/5bdf6a4f-b31a-4f3d-871b-dfa10ac8c507.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -80px;
    position: absolute;
    margin-left: 75px;
    border-radius: 20%;
    box-shadow: 1px 1px 2px 4px ;
}
.h-2 {
    padding-top: 75px;
}

.button-2 {
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    background-color: rgb(197, 16, 16);
    color: rgb(32, 31, 31);
    cursor: pointer;
    border-radius: 4px;
}
.button-2:hover{
    background-color: white;
    color: black;
}

.box-3 {
    width: 300px;
    height: 250px;
    background-color: rgb(56, 54, 99);
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
    box-shadow: 1px 1px 2px 4px #1a1a01;
    border-radius: 2%;
    padding: 0%;
    margin-left: 1168px;
    margin-top: -250px;
}


.avatar-3 {
    width: 150px;
    height: 150px;
    background-color: gray;
    background-image:
        url(wwwroot/images/b4536636-8df4-4025-883a-da0ba04bd2cf.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -80px;
    position: absolute;
    margin-left: 75px;
    border-radius: 20%;
    box-shadow: 1px 1px 2px 4px ;
}
.h-3 {
    padding-top: 75px;
}

.button-3 {
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    background-color: rgb(197, 16, 16);
    color: rgb(32, 31, 31);
    cursor: pointer;
    border-radius: 4px;
}
.button-3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}