.background-color {
    background-color: rgb(16, 12, 73);
}

.nav-quote {
    background-color: rgb(12, 12, 12);
    margin-top: -10px;
    margin-left: -10px;
    width: 101.2%;
    height: 50px;

}

.nav-logo {
    background-image:
        url(wwwroot/images/wl\ logo.png);
    background-position: left;
    background-size: cover;
    width: 160px;
    height: 160px;
    margin-top: -150px;
    margin-left: -50px;
}

.nav-text {
    color: white;
    margin-left: 600px;
    margin-top: -60px
}

.nav-text2 {
    color: white;
    margin-top: -20px;
    margin-left: 700px;
}

.nav-2-background {
    background-color: rgb(9, 27, 41);
    margin-top: -19px;
    margin-left: -10px;
    width: 101.2%;
    height: 48px;
}

.nav h2 {
    color: rgb(240, 235, 235);
    margin-top: -45px;
    margin-left: -5px;

}

.sign-in-bt {
    background-color: rgb(8, 8, 8);
    font-size: 15px;
    color: white;
    float: right;
    margin-top: -85px;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.sign-in-bt:hover {
    color: black;
    background-color: rgb(246, 245, 248);
}

.sign-up-bt {
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 15px;
    margin-top: -85px;
    margin-right: 59px;
    float: right;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.sign-up-bt:hover {
    color: black;
    background-color: rgb(246, 245, 248);
}

.post-an-ad-bt {
    background-color: rgb(197, 16, 16);
    color: white;
    font-size: 15px;
    margin-top: -55px;
    margin-right: 10px;
    padding: 10px;
    float: right;
    border-radius: 10px;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.post-an-ad-bt:hover {
    background-color: white;
    color: black;
}

.navbar-dropdown-text {
    margin-left: 570px;
    margin-top: -39px;
    float: left;

}

.dropdown .dropbtn {
    font-size: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: rgb(245, 239, 239);

    background-color: rgb(9, 27, 41);
    font-family: inherit;
    margin: 0px;
}

.dropbtn {
    background-color: rgb(230, 221, 221);
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(16, 12, 73);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(16, 12, 73);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(238, 235, 235);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dfd3d3;
    color: rgb(14, 13, 13);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-home {
    font-size: 18px;
    color: white;
    float: left;
    margin-left: 487px;
    margin-top: -61px;
    cursor: pointer;
    text-decoration: none;
}

.nav-sell-purchase {
    color: white;
    float: left;
    margin-left: 175px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}

.nav-about {
    color: white;
    float: left;
    margin-left: 45px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}

.nav-contact {
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: -56px;
    cursor: pointer;
    text-decoration: none;
}
.center-text1{
    color: white;
    font-size: px;
    margin-left: -450px;
    margin-top: 150px;
    float: left;
}
.center-text2{
    color: white;
    font-size: px;
    margin-left: -588px;
    margin-top: 200px;
    float: left;
}
.nav-search-container {
    float: left;
    margin-left: 1200px;
    margin-top: -310px;
    cursor: pointer;
}

.nav-search-icon {
    display: inline-block;
    font: normal normal normal 14px/1 fontawesome;
    margin-left: 10px;
    cursor: pointer;
}
.box-google-play{
    width: 160px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    background-image: url(wwwroot/images/playstore.png);
    background-size: cover;
    margin-left: 50px;
    margin-top: 600px;
}
.box-app-gallery{
    width: 200px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    background-image: url(wwwroot/images/appgallery.png);
    background-size: cover;
    margin-left: 450px;
    margin-top: -60px;
}
.box-app-store{
    width: 160px;
    height: 60px;
    background-color:none;
    background-image: url(wwwroot/images/appstore.png);
    background-size: cover;
    margin-left: 250px;
    margin-top: -60px;
}
.heading{
    color:white ;
    margin-top: -200px;
    margin-left: 190px;
}
.heading-1{
color: white;
margin-left: 90px;
}